

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styler.css">
    <title>Devbot</title>
    <!--<script defer src="script.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
    <body>
    
        <nav>

            <section id="nav-section-left">
                <a class="button" href="invitelink">Invite</a>
            </section>

            <section id="nav-section-right">
                
                <div>
                    
                    <a href="">Izzy#4810</a>

                    <span>
                        <a class="button-s" href="">Logout</a>
                    </span>

                </div>
                
                <img src="../static/images/bcos.jpg" alt="User Profile picture">
                
            </section>

        </nav>

        <main>

            <!-- Old Panels-->
            <!-- 
            <section class="server-panels">

                <article class="server-panel">

                    <div class="panel-title">

                        <img src="images/bcos.jpg" alt="server image 1">
                        <h2>ssss</h2>

                    </div>

                    <div class="panel-content">

                        <div class="panel-content-l">

                            <ul>

                                <li>Setting _____</li>
                                <li>Setting _____</li>
                                <li>Setting _____</li>

                            </ul>

                        </div>
                        
                        <div class="panel-content-r">

                            <span>
                                <img src="images/bcos.jpg" alt="user profile pic">
                                <a href="">Izzy#1234</a>
                            </span>

                            <span>
                                <img src="images/bcos.jpg" alt="user profile pic">
                                <a href=""></a>
                            </span>

                            <span>
                                <img src="images/bcos.jpg" alt="user profile pic">
                                <a href="">user</a>
                            </span>

                        </div>

                    </div>

                </article>

                <article class="server-panel">
                    
                    <div class="panel-title">

                        <img src="" alt="server image 2">
                        <h2>Server name</h2>

                    </div>

                    <div class="panel-content">

                        <div class="panel-content-l">

                            <ul>

                                <li>Setting _____</li>
                                <li>Setting _____</li>
                                <li>Setting _____</li>

                            </ul>

                        </div>

                        <div class="panel-content-r">

                            <span>
                                <img src="" alt="user profile pic">
                                <a href="">user</a>
                            </span>

                            <span>
                                <img src="" alt="user profile pic">
                                <a href="">user</a>
                            </span>

                            <span>
                                <img src="" alt="user profile pic">
                                <a href="">user</a>
                            </span>

                        </div>

                    </div>

                </article>

            </section>
        -->
            
            <section id="top-content">

                <article id="side-content">
                    <h2>DevBot</h2>
                    <p>A discord bot made in C#</p>
                    <div>
                        <dl>
                            <dt>Getting started</dt>
                            <dd></dd>
                        </dl>
                    </div>
                    <div>
                        <h2>World</h2>
                    </div>
                </article>
    
                <article id="main-content">
                    <h2>Getting started!</h2>
                    <p>Devbot is a great thing for the environment</p>
                </article>

            </section>

        </main>

        <footer>
            <h2>hello</h2>
        </footer>

    </body>
</html>